.ms_header {
    background-color: #2c3e50;
}

.ms_header-nav {
    list-style-type: none;
}

.ms_header-nav li {
    margin: 0 10px;
}

.ms_hero {
    background-color: #1abc9c;
}

img {
    max-width: 100%;
}

.ms_avatar-hero {
    width: 40%;
}

.ms_about {
    background-color: #1abc9c;
    color: white;
}

.ms_btn-download {
    background-color: transparent;
    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid white;
}

.form {
    height: 500px;
    background-color: brown;
}

.ms_icons { 
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    aspect-ratio: 1;
    color: white;
}

footer {
    background-color:  #3a546d;
    color: white;
}

footer .container-fluid {
    background-color: #2c3e50;
}